{% extends 'base.html' %}

{% block content %}
<style>
    table {width:100%;}
    td {height:70px;}
    .c1, .c3, .c5 {
        width:140px;
        background-color: #EFFBFB;
        text-align: center;
     }
     .tb {margin-top:40px;}
     .btn_div *{margin:30px;}
     .btn_div {text-align:center;}
</style>
<h3>랜섬웨어 글쓰기</h3>


<div class="tb">
    <h5>통보 정보</h5>
    <table border="1">
        <tr>
            <td class="c1">기업명</td>
            <td class="c2">{{object.company}}</td>
            <td class="c3">문서번호</td>
            <td class="c4">{{object.document_n}}</td>
            <td class="c5">발송 날짜</td>
            <td class="c6">{{object.send_date}}</td>
        </tr>
        <tr>
            <td class="c1">에이전트명</td>
            <td class="c2">{{object.agent_name}}</td>
            <td class="c3">에이전트IP</td>
            <td class="c4">{{object.agent_ip}}</td>
            <td class="c5">탐지일</td>
            <td class="c6">{{object.detect_date}}</td>
        </tr>
        <tr>
            <td class="c1">대상 경로</td>
            <td colspan="3">{{object.path}}</td>
            <td class="c5">회신유무</td>
            <td class="c6">{{object.reply}}</td>
        </tr>
        <tr>
            <td class="c1">파일명</td>
            <td colspan="3">{{object.file_name}}</td>
            <td class="c5">처리상태</td>
            <td class="c6">{{object.process_state}}</td>
        </tr>
    </table>
</div>
<div class="btn_div">
    {% if next_obj %}
    <a href="#" onclick="location.href = '{% url 'post:detail' 'ransomware_post' next_obj.id %}'"><button type="button">다음글</button></a>
    {% endif %}
    <a href="#" onclick="location.href = '{{uri}}'">
        <button type="button">목록으로</button>
    </a>

    <button type="button">취소</button>
</div>

{% endblock %}