{% extends 'base.html' %}
{% block content %}
<style>
    /* 전체 */
    table {width:100%;}

    /* table1 */
    .t1 .c1, .t1 .c3 {
        width: 150px;
        text-align: center;
        background-color: #EFFBFB;
    }
    .t1 td {height:50px; padding:10px;}
</style>
<div style="text-align:center;">
    <h3>{{1}}</h3>
</div>
<h4>고객정보</h4>
<table class="t1">
    <tr>
        <td class="c1">서비스현황</td>
        <td colspan="3">
            보안관제({{2}})
            내부정보({{3}})
            악성코드({{4}})
            랜섬웨어({{5}})
        </td>
    </tr>

    <tr>
        <td class="c1">업태</td>
        <td>{{6}}</td>
        <td class="c3">업종</td>
        <td>{{7}}</td>
    </tr>

    <tr>
        <td class="c1">가입경로</td>
        <td>{{8}}</td>
        <td class="c3">대표자명</td>
        <td>{{9}}</td>
    </tr>

    <tr>
        <td class="c1">사원수</td>
        <td>{{10}}</td>
        <td class="c3">매출액</td>
        <td>{{11}}</td>
    </tr>

    <tr>
        <td class="c1">홈페이지</td>
        <td>{{12}}</td>
        <td class="c3">사업자번호</td>
        <td>{{13}}</td>
    </tr>

    <tr>
        <td class="c1">주소</td>
        <td colspan="3">{{14}}</td>
    </tr>
</table>
{% endblock %}