{% extends 'base.html' %}

{% block content %}
<style>
  /* 전체사항 */
  /* 테두리 */
  table {width:100%;}
  th, td {
    border: 1px solid #444444;
  }
  .fs {font-size:x-small;}

  /* table1 */
  .t1 td {height:80px;}
  .t1 .c2, .t1 .c4 {
    width: 400px;
  }
  .t1 .c1, .t1 .c3 {
    width: 110px;
    text-align: center;
    background-color: #EFFBFB;
  }
  #id_cu_rname {width:100px;}
  #id_cu_iaddress {width:100%; height:50px;}
  #id_cu_name, #id_cu_homepage, #id_cu_address {width:250px;}

  /* table2 */
  .t2 .c1 {
    width: 110px;
    text-align: center;
    background-color: #EFFBFB;
  }
  .t2 .c2 {
    width: 600px;
    text-align: center;
    background-color: #EFFBFB;
  }
  .t2 .c3 {width:60px; text-align:center;}
  .t2 select{width:150px;}

  /* table3 */
  .t3 .c1, .t3 .c2, .t3 .c4, .t3 .c6 {
    width: 110px;
    text-align: center;
    background-color: #EFFBFB;
  }
  #id_se_etc {width:100%; height:50px;}

  /* table4 */
  .t4 .c1, .t4 .c2, .t4 .c4, .t4 .c6 {
    width: 110px;
    text-align: center;
    background-color: #EFFBFB;
  }
  #id_in_etc {width:100%; height:50px;}
  #id_in_ip {width:100%; height:50px;}

  /* table5 */
  .t5 .c1, .t5 .c2, .t5 .c4 {
    width: 110px;
    text-align: center;
    background-color: #EFFBFB;
  }
  #id_vi_etc {width:100%; height:50px;}

  /* table6 */
  .t6 .c1, .t6 .c2, .t6 .c4 {
    width: 110px;
    text-align: center;
    background-color: #EFFBFB;
  }
  #id_ra_etc {width:100%; height:50px;}

  /* table7 */
  .t7 .c1, .t7 .c2, .t7 .c4, .t7 .c6, .t7 .c8, .t7 .c10 {
    width: 55px;
    text-align: center;
    background-color: #EFFBFB;
  }
  #id_ma_name, #id_re_name, #id_ch_name {width:100px;}
  #id_ma_circles, #id_re_circles, #id_ch_circles {width:120px;}
  #id_ma_phone, #id_re_phone, #id_ch_phone {width:120px;}
  #id_ma_cphone, #id_re_cphone, #id_ch_cphone {width:140px;}

  /* etc */
  #id_bc_etc {width:100%; height:100px;}

</style>
<h3>전체 수혜기업 현황 글쓰기</h3>
<form method="post" action="{% url 'post:write' 'company'%}">
    <h5>고객정보 등록</h5>
    {%csrf_token%}
    <table class="t1" border="1">
        <tr>
            <td class='c1'>업체명</td>
            <td class="c2">{{form.cu_name}} {{form.cu_tenant}}<label for="id_cu_tenant">입주기업</label></td>
            <td class="c3">관리번호</td>
            <td class="c4" colspan="3">{{form.cu_cnumber}} * 필요시 수정</td>
        </tr>

        <tr>
            <td class="c1">서비스현황</td>
            <td class="c2 fs">보안관제 {{form.cu_serstate_security}} 내부보안 {{form.cu_serstate_information}} 악성코드 {{form.cu_serstate_virus}} 랜섬웨어 {{form.cu_serstate_ransomware}}</td>
            <td class="c3">허수현황</td>
            <td class="c4" colspan="3">{{form.cu_imastate_security}} <label for="id_cu_imastate_security"> 보안관제</label> {{form.cu_imastate_information}} <label for="id_cu_imastate_information"> 내부정보</label>
                {{form.cu_imastate_virus}} <label for="id_cu_imastate_virus"> 악성코드</label> {{form.cu_imastate_ransomware}}<label for="id_cu_imastate_ransomware"> 랜섬웨어</label></td>
        </tr>

        <tr>
            <td class="c1">업태</td>
            <td class="c2">{{form.cu_business}}</td>
            <td class="c3">업종</td>
            <td class="c4" colspan="3">{{form.cu_comclass}}</td>
        </tr>

        <tr>
            <td class="c1">가입경로</td>
            <td>{{form.cu_path}}</td>
            <td class="c1">대표자명</td>
            <td>{{form.cu_rname}}</td>
            <td class="c1">대표자<br>E-mail</td>
            <td>{{form.cu_remail}}</td>
        </tr>

        <tr>
            <td class="c1">홈페이지</td>
            <td class="c2">{{form.cu_homepage}}</td>
            <td class="c3">사업자번호</td>
            <td class="c4" colspan="3">{{form.cu_bnumber}} <button type="button">중복확인</button></td>
        </tr>

        <tr>
            <td class="c1">주소</td>
            <td class="c2">{{form.cu_address}}</td>
            <td class="c3">설치주소</td>
            <td class="c4" colspan="3">{{form.cu_iaddress}}</td>
        </tr>
    </table>

    <h5>업체구분</h5>
    <table class="t2">
        <tr>
            <td class="c1" rowspan="5">운영환경</td>
            <td class="c2">1.테크노파크, 지식재산센터 등 대규모 입주단지</td>
            <td class="c3"><input type="checkbox" id="op_check1"></td>
            <td class="c4">{{form.op_imove}}</td>
        </tr>
        <tr>
            <td class="c2">2. 대기업 협력사</td>
            <td class="c3"><input type="checkbox" id="op_check2"></td>
            <td class="4">{{form.op_lpartner}}</td>
        </tr>
        <tr>
            <td class="c2">3. 폐쇠망 운영 여부</td>
            <td class="c3"><input type="checkbox" id="op_check3"></td>
            <td class="4">{{form.op_closer}}</td>
        </tr>
        <tr>
            <td class="c2">4. 방위산업체/방위산업협력기업</td>
            <td class="c3"><input type="checkbox" id="op_check4"></td>
            <td class="c4">{{form.op_defense}}</td>
        </tr>
        <tr>
            <td class="c2">5. 기타 특이사항 입력</td>
            <td class="c3"><input type="checkbox" id="op_check5"></td>
            <td class="c4">{{form.op_etc}}</td>
        </tr>
    </table>

    <h5>서비스 정보</h5>
    <table class="t3">
        <tr>
            <td class="c1" rowspan="6">보안관제</td>
            <td class="c2">계약사항</td>
            <td class="c3">{{form.se_contract}}</td>
            <td class="c4">선차단 권한</td>
            <td class="c5">{{form.se_pblock}}</td>
            <td class="c6">보고서발송일</td>
            <td class="c7">{{form.se_sdate}}</td>
        </tr>
        <tr>
            <td class="c2">연동일</td>
            <td class="c3">{{form.se_cdate}}</td>
            <td class="c4">시리얼 번호</td>
            <td class="c5">{{form.se_serial}}</td>
            <td class="c6">라이선스 만료일</td>
            <td class="c7">{{form.se_edate}}</td>
        </tr>
        <tr>
            <td class="c2">장비 펌웨어</td>
            <td class="c3">{{form.se_firmware}}</td>
            <td class="c4">장비 분류</td>
            <td class="c5">{{form.se_eqclass}}</td>
            <td class="c6">소유권</td>
            <td class="c7">{{form.se_ownership}}</td>
        </tr>
        <tr>
            <td class="c2">접근 권한</td>
            <td class="c3">{{form.se_access}}</td>
            <td class="c4">IPS/Check</td>
            <td colspan="3">{{form.se_ipsrule}} {{form.se_syslog}} {{form.se_icmp}} {{form.se_snmp}}</td>
        </tr>
        <tr>
            <td class="c2">해지일/사유</td>
            <td colspan="5">{{form.se_tdate}} / {{form.se_treason}}</td>
        </tr>
        <tr>
            <td class="c2">기타사항</td>
            <td colspan="5">{{form.se_etc}}</td>
        </tr>
    </table>

    <table class="t4">
        <tr>
            <td rowspan="3" class="c1">내부정보</td>
            <td class="c2">계약사항</td>
            <td class="c3">{{form.in_contract}}</td>
            <td class="c4">신청대수</td>
            <td class="c5">{{form.in_apply}} 대</td>
            <td class="c6">연동일</td>
            <td class="c7">{{form.in_cdate}}</td>
        </tr>
        <tr>
            <td class="c2">IP</td>
            <td colspan="3">{{form.in_ip}}</td>
            <td class="c4">해지일(사유)</td>
            <td class="c5">{{form.in_tdate}} / {{form.in_treason}}</td>
        </tr>
        <tr>
            <td class="c2">기타사항</td>
            <td colspan="3">{{form.in_etc}}</td>
        </tr>
    </table>

    <table class="t5">
        <tr>
            <td rowspan="3" class="c1">악성코드</td>
            <td class="c2">계약사항</td>
            <td class="c3">{{form.vi_contract}}</td>
            <td class="c4">신청대수</td>
            <td class="c5">{{form.vi_apply}} 대</td>
        </tr>
        <tr>
            <td class="c2">연동일</td>
            <td class="c3">{{form.vi_cdate}}</td>
            <td class="c4">해지일(사유)</td>
            <td class="c5">{{form.vi_tdate}} / {{form.vi_treason}}</td>
        </tr>
        <tr>
            <td class="c2">기타사항</td>
            <td colspan="3">{{form.vi_etc}}</td>
        </tr>
    </table>

    <table class="t6">
        <tr>
            <td rowspan="3" class="c1">랜섬웨어</td>
            <td class="c2">계약사항</td>
            <td class="c3">{{form.ra_contract}}</td>
            <td class="c4">신청대수</td>
            <td class="c5">{{form.ra_apply}} 대</td>
        </tr>
        <tr>
            <td class="c2">연동일</td>
            <td class="c3">{{form.ra_cdate}}</td>
            <td class="c4">해지일(사유)</td>
            <td class="c5">{{form.ra_tdate}} / {{form.ra_treason}}</td>
        </tr>
        <tr>
            <td class="c2">기타사항</td>
            <td colspan="3">{{form.ra_etc}}</td>
        </tr>
    </table>

    <h5>담당자 등록정보</h5>
    <table class="t7">
        <tr>
            <td class="c1">(정)</td>
            <td class="c2">이름</td>
            <td class="c3">{{form.ma_name}}</td>
            <td class="c4">부서</td>
            <td class="c5">{{form.ma_circles}}</td>
            <td class="c6">휴대폰</td>
            <td class="c7">{{form.ma_phone}}</td>
            <td class="c8">회사<br>전화</td>
            <td class="c9">{{form.ma_cphone}}</td>
            <td class="c10">E-mail</td>
            <td class="c11">{{form.ma_email}}</td>
        </tr>

        <tr>
            <td class="c1">(부)</td>
            <td class="c2">이름</td>
            <td class="c3">{{form.ma_name}}</td>
            <td class="c4">부서</td>
            <td class="c5">{{form.ma_circles}}</td>
            <td class="c6">휴대폰</td>
            <td class="c7">{{form.ma_phone}}</td>
            <td class="c8">회사<br>전화</td>
            <td class="c9">{{form.ma_cphone}}</td>
            <td class="c10">E-mail</td>
            <td class="c11">{{form.ma_email}}</td>
        </tr>

        <tr>
            <td class="c1">(요금)</td>
            <td class="c2">이름</td>
            <td class="c3">{{form.ma_name}}</td>
            <td class="c4">부서</td>
            <td class="c5">{{form.ma_circles}}</td>
            <td class="c6">휴대폰</td>
            <td class="c7">{{form.ma_phone}}</td>
            <td class="c8">회사<br>전화</td>
            <td class="c9">{{form.ma_cphone}}</td>
            <td class="c10">E-mail</td>
            <td class="c11">{{form.ma_email}}</td>
        </tr>

        <tr>
            <td colspan="2" class="c1">세금계산서 발송일</td>
            <td colspan="9">매월 {{form.bc_sdate}} 일</td>
        </tr>
    </table>

    <h5>기타사항</h5>
    {{form.bc_etc}}
    <h5>첨부파일</h5>
    {{form.bc_file}}

    <button type="submit">작성완료</button>
    <button type="button">취소</button>
</form>
{% endblock %}