{% extends 'base.html' %}
{% block script %}
<script src = "/static/js/my.js"></script>
{% endblock %}
{% block content %}
<style>
    table {width:100%;}
    td {height:50px; padding:10px;}
    .tb {margin:20px 0px;}
    .c1 {width:150px; text-align:center; background-color: #EFFBFB;}
</style>

<h4>회원 정보 수정</h4>
<form action="" method="post" onsubmit="return last_check()">
    {% csrf_token %}
    <div class="tb">
    <h5>사이트 이용정보 입력</h5>
        <table class="t1" border="1">
            <tr>
                <td class="c1">{{form.userid.label_tag}}</td>
                <td class="c2">{{form.userid}}<button type="button" onclick="popup_check('User','userid', 'id_userid')">중복확인</button>
            </tr>

            <tr>
                <td class="c1">비밀번호</td>
                <td class="c2">{{form.password}} (영문, 숫자, 특수문자 포함 9~16자)</td>
            </tr>

            <tr>
                <td class="c1">{{form.password_confirm.label_tag}}</td>
                <td class="c2">{{form.password_confirm}} {{form.password_confirm.errors}}</td>
            </tr>
        </table>
    </div>

    <div class="tb">
    <h5>개인정보 입력</h5>
        <table class="t2" border="1">
            <tr>
                <td class="c1">{{form.user_name.label_tag}}</td>
                <td class="c2">{{form.user_name}}</td>
            </tr>

            <tr>
                <td class="c1">{{form.nickname.label_tag}}</td>
                <td class="c2">{{form.nickname}}<button type="button" onclick="popup_check('User','nickname', 'id_nickname')">중복확인</button>
            </tr>

            <tr>
                <td class="c1">{{form.email.label_tag}}</td>
                <td class="c2">{{form.email}}</td>
            </tr>
        </table>
    </div>
    <div class="g-recaptcha" data-sitekey="6LdAlb4UAAAAAIFG0XNXPZTBTRkgZEcsH7XTljKN"></div>
    <button type="submit">가입하기</button>
</form>
<script>
    // 히든태그 로드
    window.check_list = {'id_userid':false, 'id_nickname':false};

    window.onload = function(){
        //document.getElementById("id_userid_h").value = document.getElementById("id_userid").value;
        //document.getElementById("id_nickname_h").value = document.getElementById("id_nickname").value;
        {% if form.userid.value %}
        window.check_list['id_userid'] = true;
        {% endif %}

        {% if form.nickname.value %}
        window.check_list['id_nickname'] = true;
        {% endif %}
    }


    function last_check(){
        for(var key in window.check_list){
            if(window.check_list[key] == false){
                alert('중복확인이 되지않은 항목이 있습니다');
                return false;
            }
        }
        if(!check_recaptcha())
            return false;
        return true;
    }

    function check_recaptcha(){
        var v = grecaptcha.getResponse();
        if(v)
            return true;
        else{
            alert('자동등록방지를 체크해주세요');
            return false;
        }
    }
</script>
{% endblock %}