{% extends 'base.html' %}
{% block content %}
<style>
    table {width:100%;}
    td {height: 50px;}
    .main {text-align:center; margin:20px;}
    .s_note {border: 1px solid; padding:10px;}
    .c1, .c3 {
        background-color: #EFFBFB;
        width: 160px;
        text-align: center;
    }
    textarea {width:100%;}
</style>
<div class="main">
    <h4>
        [
        {% if model.equ_class != 'etc_0'%} {{model.equ_class}}
        {% else %} {{model.etc_equ_class}}
        {% endif %}
        ]
        {{model.pat_name}}
    </h4>
</div>

<h5>탐지패턴 정보</h5>
<table class="t1" border="1">
    <tr>
        <td class="c1">IPS 탐지 패턴명</td>
        <td class="c2">{{model.pat_name}}</td>
        <td class="c3">CVE</td>
        <td class="c4">{{model.cve}}</td>
    </tr>

    <tr>
        <td class="c1">공격 분류</td>
        <td class="c2">{{model.att_class}}</td>
        <td class="c3">공격 유형</td>
        <td class="c4">{{model.att_type}}</td>
    </tr>

    <tr>
        <td class="c1">IPS룰 등록일</td>
        <td class="c2">{{model.rule_rdate}}</td>
        <td class="c3">IPS룰 갱신일</td>
        <td class="c4">{{model.rule_udate}}</td>
    </tr>
</table>

<h4>탐지근거 및 패턴분석</h4>
<div class="s_note">
    {{model.pat_analysis|safe}}
</div>
<h4>대응방안</h4>
<textarea>{{model.countermeasures}}</textarea>
{% endblock %}