<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>check</title>
    <style>
        td {height:100px; text-align:center;}
    </style>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{form.pat_name.label}} : </td>
            <td>{{form.pat_name}}</td>
            <td><button type="submit">중복확인</button></td>
        </tr>
        {% if success %}
        <tr><td colspan="3">"{{form.cleaned_data.pat_name}}"는 사용가능합니다.</td></tr>
        <tr><td colspan="3"><button type="button" onclick="use()">사용하기</button></td></tr>
        {% else %}
        <tr><td colspan="3">{{form.pat_name.errors}}</td></tr>
        {% endif %}
    </table>
</form>
<script>
    function use(){
        opener.document.getElementById("id_pat_name").value = {{form.cleaned_data.pat_name}};
        opener.document.getElementById("id_pat_name_h").value = {{form.cleaned_data.pat_name}};
        window.close();
    }
</script>
</body>
</html>