{% extends 'base.html' %}
{% block content %}
{% load post_extras %}
<style>
    table {width:100%;}
    td {height: 100px; width:100px;}
    tbody td {vertical-align:top;}
</style>
<a href="{% url 'post:list' 'calendar' %}?year={{request.GET.year|add:-1}}&month={{request.GET.month}}"><<</a>
<a href="{% url 'post:list' 'calendar' %}?year={{request.GET.year}}&month={{request.GET.month|add:-1}}"><</a>
<h5 style="display:inline-block">{{request.GET.year}}년{{request.GET.month}}월</h5>
<a href="{% url 'post:list' 'calendar' %}?year={{request.GET.year}}&month={{request.GET.month|add:1}}">></a>
<a href="{% url 'post:list' 'calendar' %}?year={{request.GET.year|add:1}}&month={{request.GET.month}}">>></a>

<button type="button" href="#" onclick="location.href = '{% url 'post:write' 'schedule' %}' ">일정 추가</button>
<table border="1">
    <thead>
    <tr style="background-color:lightcyan">
        <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
    </tr>
    </thead>
    <tbody>
    {% for week in days %}
    <tr>
        {% for day in week %}
        <td>
            {% if day.day %}
                {{day.day}}

                {% for att in day.attendance %}
                    <a href="#" onclick="att_popup('{% url 'post:update' 'attendance' att.id %}')">{{att.user.user_name}}</a>
                {% endfor %}

                {% for sch in day.schedule %}
                    <br>
                    <a href="{% url 'post:detail' 'schedule' sch.id %}">{{sch.title}}</a>
                {% endfor %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    function att_popup(url){
        child = window.open(url, 'window팝업', 'width=400, height=400, menubar=no, status=no, toolbar=no');
    }
</script>
{% endblock %}